#eap_show-result{
	margin-top: 20px;
}
#eap_wrap td{
	text-align: left;	
}

.bcard.bcard-image {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	width: 100%
}

.bcard.bcard-image [class*=rgba-] {
	-webkit-border-radius: .25rem;
	border-radius: .25rem
}

.bcard.bcard-cascade .view.view-cascade {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	-webkit-border-radius: .25rem;
	border-radius: .25rem
}

.bcard.bcard-cascade .view.view-cascade.gradient-card-header {
	padding: 1.6rem 1rem;
	text-align: center
}

.bcard.bcard-cascade .view.view-cascade.gradient-card-header .bcard-header-title {
	font-weight: 500
}

.bcard.bcard-cascade .view.view-cascade.gradient-card-header .btn-floating {
	background-color: rgba(255,255,255,.2)
}

.bcard.bcard-cascade.wider {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent
}

.bcard.bcard-cascade.wider .view.view-cascade {
	z-index: 2
}

.bcard.bcard-cascade.wider .bcard-body.bcard-body-cascade {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	margin-left: 4%;
	margin-right: 4%;
	background: #fff;
	z-index: 1;
	-webkit-border-radius: 0 0 .25rem .25rem;
	border-radius: 0 0 .25rem .25rem
}

.bcard.bcard-cascade.wider.reverse .bcard-body.bcard-body-cascade {
	z-index: 3;
	margin-top: -1rem;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}

.bcard.bcard-cascade.narrower {
	margin-top: 1.25rem
}

.bcard.bcard-cascade.narrower .view.view-cascade {
	margin-left: 4%;
	margin-right: 4%;
	margin-top: -1.25rem
}

.bcard.bcard-cascade.panel-cascade .view {
	text-align: center;
	color: #fff
}

.bcard.bcard-cascade.panel-cascade .list-group .list-group-item {
	margin-bottom: 0;
	border: 0;
	border-bottom: 1px solid #eee;
	color: #495057
}

.bcard.bcard-cascade.panel-cascade .list-group .list-group-item:hover {
	background-color: #eee
}

.bcard .btn-action {
	margin-top: -1.44rem;
	margin-bottom: -1.44rem
}

.bcard .activator {
	position: absolute;
	right: 0;
	font-size: 1.2rem
}

.bcard .bcard-reveal {
	position: absolute;
	width: 100%;
	overflow-y: auto;
	top: 100%;
	height: 100%;
	z-index: 1;
	display: none
}

.bcard .bcard-reveal .content {
	position: relative
}

.bcard.ovf-hidden {
	overflow: hidden
}

.bcard .bcard-share {
	position: relative
}

.bcard .bcard-share .social-reveal {
	position: absolute;
	top: -1.44rem;
	right: 1.88rem;
	visibility: hidden;
	width: auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: -webkit-transform .35s ease;
	transition: -webkit-transform .35s ease;
	-o-transition: transform .35s ease;
	transition: transform .35s ease;
	transition: transform .35s ease,-webkit-transform .35s ease
}

.bcard .bcard-share .social-reveal-active {
	z-index: 11;
	visibility: visible;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translateX(-48px);
	-ms-transform: translateX(-48px);
	transform: translateX(-48px);
	-webkit-transition: -webkit-transform .35s ease;
	transition: -webkit-transform .35s ease;
	-o-transition: transform .35s ease;
	transition: transform .35s ease;
	transition: transform .35s ease,-webkit-transform .35s ease
}

.bcard .bcard-reveal .bcard-title,.bcard-wrapper .bcard-rotating .bcard-title {
	cursor: pointer
}

.bcard .bcard-reveal .bcard-title i,.bcard-wrapper .bcard-rotating .bcard-title i {
	color: #9e9e9e;
	position: absolute;
	right: .63rem
}

.bcard-wrapper {
	-webkit-perspective: 800px;
	perspective: 800px;
	position: relative;
	margin: 0;
	width: 100%
}

.bcard-wrapper .bcard-up {
	height: 200px;
	overflow: hidden
}

.bcard-wrapper .bcard-up img {
	vertical-align: middle
}

.bcard-wrapper .avatar {
	display: block;
	margin-top: -60px;
	overflow: hidden;
	width: 120px
}

.bcard-wrapper .avatar img {
	border: 5px solid #fff;
	background: none repeat scroll 0 0 #fff;
	width: 100%
}

.bcard-wrapper .bcard-rotating {
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s
}

.bcard-wrapper .bcard-rotating .face {
	width: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 2
}

.bcard-wrapper .bcard-rotating.flipped {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg)
}

.bcard-wrapper .bcard-rotating .front {
	z-index: 1
}

.bcard-wrapper .bcard-rotating .back {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg)
}

.bcard-wrapper .bcard-rotating .back,.bcard-wrapper .bcard-rotating .front {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s
}

.bcard {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	border: 0;
	font-weight: 400
}

.bcard[class*=border] {
	border: 1px solid #9e9e9e;
	-webkit-box-shadow: none;
	box-shadow: none
}

.bcard .bcard-body h1,.bcard .bcard-body h2,.bcard .bcard-body h3,.bcard .bcard-body h4,.bcard .bcard-body h5,.bcard .bcard-body h6 {
	font-weight: 400
}

.bcard .bcard-body .bcard-title a {
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out
}

.bcard .bcard-body .bcard-title a:hover {
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out
}

.bcard .bcard-body .bcard-text {
	color: #747373;
	font-size: .9rem;
	font-weight: 400
}


.bcard {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	width:100% !important;
}

.bcard>hr {
	margin-right: 0;
	margin-left: 0
}

.bcard>.list-group:first-child .list-group-item:first-child {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem
}

.bcard>.list-group:last-child .list-group-item:last-child {
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.bcard-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem
}

.bcard-title {
	margin-bottom: .75rem
}

.bcard-subtitle {
	margin-top: -.375rem;
	margin-bottom: 0
}

.bcard-text:last-child {
	margin-bottom: 0
}

.bcard-link:hover {
	text-decoration: none
}

.bcard-link+.bcard-link {
	margin-left: 1.25rem
}

.bcard-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125)
}

.bcard-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.bcard-header+.list-group .list-group-item:first-child {
	border-top: 0
}

.bcard-footer {
	padding: .75rem 1.25rem;
	background-color: rgba(0,0,0,.03);
	border-top: 1px solid rgba(0,0,0,.125)
}

.bcard-footer:last-child {
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.bcard-header-tabs {
	margin-right: -.625rem;
	margin-bottom: -.75rem;
	margin-left: -.625rem;
	border-bottom: 0
}

.bcard-header-pills {
	margin-right: -.625rem;
	margin-left: -.625rem
}

.bcard-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem
}

.bcard-img {
	width: 100%;
	border-radius: calc(.25rem - 1px)
}

.bcard-img-top {
	width: 100%;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px)
}

.bcard-img-bottom {
	width: 100%;
	border-bottom-right-radius: calc(.25rem - 1px);
	border-bottom-left-radius: calc(.25rem - 1px)
}

.bcard-deck {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.bcard-deck .bcard {
	margin-bottom: 15px
}

@media (min-width: 576px) {
	.bcard-deck {
		-ms-flex-flow:row wrap;
		flex-flow: row wrap;
		margin-right: -15px;
		margin-left: -15px
	}

	.bcard-deck .bcard {
		display: -ms-flexbox;
		display: flex;
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px
	}
}

.bcard-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.bcard-group>.bcard {
	margin-bottom: 15px
}

@media (min-width: 576px) {
	.bcard-group {
		-ms-flex-flow:row wrap;
		flex-flow: row wrap
	}

	.bcard-group>.bcard {
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		margin-bottom: 0
	}

	.bcard-group>.bcard+.bcard {
		margin-left: 0;
		border-left: 0
	}

	.bcard-group>.bcard:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}

	.bcard-group>.bcard:first-child .bcard-header,.bcard-group>.bcard:first-child .bcard-img-top {
		border-top-right-radius: 0
	}

	.bcard-group>.bcard:first-child .bcard-footer,.bcard-group>.bcard:first-child .bcard-img-bottom {
		border-bottom-right-radius: 0
	}

	.bcard-group>.bcard:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}

	.bcard-group>.bcard:last-child .bcard-header,.bcard-group>.bcard:last-child .bcard-img-top {
		border-top-left-radius: 0
	}

	.bcard-group>.bcard:last-child .bcard-footer,.bcard-group>.bcard:last-child .bcard-img-bottom {
		border-bottom-left-radius: 0
	}

	.bcard-group>.bcard:only-child {
		border-radius: .25rem
	}

	.bcard-group>.bcard:only-child .bcard-header,.bcard-group>.bcard:only-child .bcard-img-top {
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem
	}

	.bcard-group>.bcard:only-child .bcard-footer,.bcard-group>.bcard:only-child .bcard-img-bottom {
		border-bottom-right-radius: .25rem;
		border-bottom-left-radius: .25rem
	}

	.bcard-group>.bcard:not(:first-child):not(:last-child):not(:only-child) {
		border-radius: 0
	}

	.bcard-group>.bcard:not(:first-child):not(:last-child):not(:only-child) .bcard-footer,.bcard-group>.bcard:not(:first-child):not(:last-child):not(:only-child) .bcard-header,.bcard-group>.bcard:not(:first-child):not(:last-child):not(:only-child) .bcard-img-bottom,.bcard-group>.bcard:not(:first-child):not(:last-child):not(:only-child) .bcard-img-top {
		border-radius: 0
	}
}

.bcard-columns .bcard {
	margin-bottom: .75rem
}

@media (min-width: 576px) {
	.bcard-columns {
		-webkit-column-count:3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 1.25rem;
		-moz-column-gap: 1.25rem;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1
	}

	.bcard-columns .bcard {
		display: inline-block;
		width: 100%
	}
}


.text-primary {
	color: #4285f4!important
}

a.text-primary:focus,a.text-primary:hover {
	color: #1266f1!important
}

.text-danger {
	color: #ff3547!important
}

a.text-danger:focus,a.text-danger:hover {
	color: #ff0219!important
}

.text-warning {
	color: #fb3!important
}

a.text-warning:focus,a.text-warning:hover {
	color: #fa0!important
}

.text-success {
	color: #00c851!important
}

a.text-success:focus,a.text-success:hover {
	color: #00953c!important
}

.text-info {
	color: #33b5e5!important
}

a.text-info:focus,a.text-info:hover {
	color: #1a9bcb!important
}

.text-default {
	color: #2bbbad!important
}

a.text-default:focus,a.text-default:hover {
	color: #219287!important
}

.text-secondary {
	color: #a6c!important
}

a.text-secondary:focus,a.text-secondary:hover {
	color: #9540bf!important
}

.text-dark {
	color: #212121!important
}

a.text-dark:focus,a.text-dark:hover {
	color: #080808!important
}

.text-light {
	color: #e0e0e0!important
}

a.text-light:focus,a.text-light:hover {
	color: #c7c7c7!important
}

.border-primary {
	border-color: #007bff!important
}

.border-secondary {
	border-color: #6c757d!important
}

.border-success {
	border-color: #28a745!important
}

.border-info {
	border-color: #17a2b8!important
}

.border-warning {
	border-color: #ffc107!important
}

.border-danger {
	border-color: #dc3545!important
}

.border-light {
	border-color: #f8f9fa!important
}

.border-dark {
	border-color: #343a40!important
}

.border-white {
	border-color: #fff!important
}