@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');

#eap_show-result {
    margin-top: 20px;
}

#eap_wrap td {
    text-align: left;
}

.text-primary {
    color: #4285f4 !important
}

a.text-primary:focus, a.text-primary:hover {
    color: #1266f1 !important
}

.text-danger {
    color: #ff3547 !important
}

a.text-danger:focus, a.text-danger:hover {
    color: #ff0219 !important
}

.text-warning {
    color: #fb3 !important
}

a.text-warning:focus, a.text-warning:hover {
    color: #fa0 !important
}

.text-success {
    color: #00c851 !important
}

a.text-success:focus, a.text-success:hover {
    color: #00953c !important
}

.text-info {
    color: #33b5e5 !important
}

a.text-info:focus, a.text-info:hover {
    color: #1a9bcb !important
}

.text-default {
    color: #2bbbad !important
}

a.text-default:focus, a.text-default:hover {
    color: #219287 !important
}

.text-secondary {
    color: #a6c !important
}

a.text-secondary:focus, a.text-secondary:hover {
    color: #9540bf !important
}

.text-dark {
    color: #212121 !important
}

a.text-dark:focus, a.text-dark:hover {
    color: #080808 !important
}

.text-light {
    color: #e0e0e0 !important
}

a.text-light:focus, a.text-light:hover {
    color: #c7c7c7 !important
}

.border-primary {
    border-color: #007bff !important
}

.border-secondary {
    border-color: #6c757d !important
}

.border-success {
    border-color: #28a745 !important
}

.border-info {
    border-color: #17a2b8 !important
}

.border-warning {
    border-color: #ffc107 !important
}

.border-danger {
    border-color: #dc3545 !important
}

.border-light {
    border-color: #f8f9fa !important
}

.border-dark {
    border-color: #343a40 !important
}

.border-white {
    border-color: #fff !important
}

.eap_wrap .nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.eap_wrap .btn:hover {
    background: #333 !important;
    color: #fff;
}

.details-card {
    background: #ecf0f1;
    padding:10px 5px;
}

.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
}

.card-img .card-img-title {
    position: absolute;
    top: 15%;
    left: -1%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    /*transform: translate(-50%, -50%);*/
}

.card-img .card-img-title {
    font-size: 12px;
    margin: 0;
    padding: 7px 5px;
    line-height: 1em;
}
.card-img .card-img-info{
    position: absolute;
    bottom:0;
    left: -1%;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    text-shadow: 0.9px 0.9px #333;
}
.card-img-info a{
    color: #4c9ccc;
    text-shadow: .9px 0.9px #fff;
}

.card-audio{
    margin-top: 60px;
    border-radius: 0;
    background: #f1f3f4;
    margin-bottom: 20px;
}
.card-audio-info{
    color:#333 !important;
    text-shadow:none !important;
}
.card-desc {
    padding: 1.25rem;
}

.card-desc h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc .card-summary {
    color: #747373;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height:82px;
    overflow:hidden;
}

.btn-card {
    background-color: #1ABC9C;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}

a.btn-card {
    text-decoration: none;
    color: #fff;
}

.panel.border-info > .panel-heading {
    border-bottom: solid 1px #33b5e5;
}

.panel.border-success > .panel-heading {
    border-bottom: solid 1px #ff0219;
}

.panel.border-warning > .panel-heading {
    border-bottom: solid 1px #fb3;
}

.panel.border-danger > .panel-heading {
    border-bottom: solid 1px #fb3;
}